<div class="home-intro">

<!-- CSS Code -->
<style type="text/css" scoped>
img.GeneratedImage {
width:283px;height:384px;margin:10px;border-width:6px;border-color:#000000;border-style:solid;
}
</style>

<!-- HTML Code -->
<a href="https://leighmillera.wixsite.com/mysite/current-work?pgid=juy7g6jl-0fa06952-8c4a-4db6-8a5f-5067b2e42819" target="_self"><img src="https://github.com/laurammiller/laurammiller.github.io/blob/main/assets/img/NatureMorte.png?raw=true" alt="Nature Morte by Amber Miller @leighmillera" class="GeneratedImage"></a>

    <div class="home-sub-text"> <h3>
        Welcome to Laura's digital garden. A personal wiki containing current projects and ideas, with room to grow in any direction.
        </h3> 
</div> </div>

